.content, .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

table {
    border-style: solid;
    border-width: 1px;
    padding: 0px;
    margin: 10px;
}

td, th, td {
    padding: 5px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
}
