html {
    font-family: Helvetica, Verdana;
}

.content, .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

table {
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1px solid black;
    padding: 5px 10px;
}

th {
    background-color: #b9b9b9;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content, input[type=submit] {
    border-radius: 10px;
    padding: 5px;
}